/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
* {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    width: 100%;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}

.army {
    position: absolute;
    z-index: 10;
}

#map {
    background-image: url('/images/top-black-and-white-map-of-the-world-1.png');
    background-size: 100% 100%;
}

/* Login */
body.login {
    display: flex;

    justify-content: center;
    align-items: center;

    background-image: url('/images/login-back.png');
    background-size: cover;
}
body.login form {
    display: inline-block;
    width: 250px;

    margin: auto;
    padding: 20px 50px;

    border: 2px solid #000;
    border-radius: 10px;

    background: #fff;
}
body.login form input, body.login form button, body.login form .error {
    display: block;

    width: 250px;

    margin: 0;
    padding: 10px 0;
}
body.login form input {
    border: 1px solid #aaa;
    border-radius: 10px;

    text-align: center;
}
body.login form button {
    border: none;
    border-radius: 10px;
    background-color: rgb(119, 15, 15);
    color: #fff;
}
body.login form .error {
    color: #f00;
    text-align: center;
}

/* notification */
#notification {
    position: fixed;
    display: none;
    top: 0px;
    left: 50%;

    width: 200px;
    margin-left: -100px;
    padding: 20px;

    border-width: 0 1px 1px 1px;
    border-color: #888;
    border-style: solid;
    border-radius: 0 0 15px 15px;

    z-index: 10;
}
#notification.error {
    background-color: #f33;
}
#notification.exception {
    background-color: #a00;
}
#notification.success {
    background-color: rgb(118, 189, 26);
}
#notification.warning {
    background-color: rgb(228, 224, 7);
}
#notification.death {
    background-color: #000;
    color: #fff;
}

/* actions */
#actions {
    position: fixed;
    top: 0;
    right: 0;
    height: 30px;

    padding: 10px 20px;

    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #000;
    border-radius: 0 0 0 20px;

    background-color: #fff;
    font-size: 25px;
}
#actions i {
    margin: 5px;
}
#actions .time {
    margin-left: 10px;
}
#actions .active {
    color: #0f0;
}

/* statistics */
.statistics {
    position: absolute;
    bottom: 0;
    right: 0;

    padding: 10px 20px;

    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: #000;
    border-radius: 20px 0 0 0;

    background-color: #fff;
    font-size: 25px;
}

/* modal */
.shadow {
    position: fixed;
    display: none; /* flex */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.6);
}
.shadow .fa-spinner {
    display: none;

    font-size: 50px;
    color: #fff;
}
.modal {
    width: 400px;

    border-radius: 10px;
    background-color: #fff;
}
.modal .modal_header {
    padding: 5px 10px;

    border-radius: 10px 10px 0 0;
    background-color: rgb(119, 15, 15);
    color: #fff;
    text-align: center;
    font-size: 20px;
}
.modal .modal_content {
    padding: 20px;
}
.modal input {
    width: 50%;
    
    border-radius: 5px;

    font-size: 24px;
}
.modal button {
    width: 20%;
    height: 32px;

    margin-left: 10px;

    border-radius: 5px;
}
.modal button[value="sendArmy"] {
    border-color: #a00;
    background-color: rgb(119, 15, 15);
}

/* Mobile */
@media (max-width: 1000px) {
    #actions {
        position: fixed;
        left: 0;
        right: 0;

        border-width: 0 0 1px 0;
        border-radius: 0;
        z-index: 5;

        vertical-align: middle;
    }
    #map_holder {
        position: fixed;
        width: 100%;
        height: 100%;

        overflow: scroll;
    }
    #map {
        width: 1600px;

        margin-top: 50px;
    }
}
@media (max-width: 400px)
{
    .modal {
        width: 100%;
    
        border-radius: 0;
    }
    
    .modal .modal_header {
        border-radius: 0;
    }

    .modal input {
        width: 100%;
    }
    .modal button {
        width: 45%;
        
        margin-left: 7px;
        margin-top: 10px;
    }
}

/* Map creator */
#mapCreator {
    border: 2px solid #000;
    background-image: url('/images/top-black-and-white-map-of-the-world-1.png');
    background-size: 100% 100%;
}
