/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
* {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    width: 100%;
}

/* #turn {
    position: absolute;
    top: 50px;
    right: 100px;

    padding: 3px 8px;

    border: 1px solid black;
    border-radius: 5px;
}

.army {
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 10;

    border-radius: 10px;
} */

#map {
    background-image: url('/images/top-black-and-white-map-of-the-world-1.png');
    background-size: 100% 100%;
}

/* Login */
body.login {
    display: flex;

    justify-content: center;
    align-items: center;

    background-image: url('/images/login-back.png');
    background-size: cover;
}
body.login form {
    display: inline-block;

    margin: auto;
    padding: 20px;

    border: 2px solid #000;
    border-radius: 10px;

    background: #fff;
}
body.login form input, body.login form button, body.login form .error {
    display: block;
    width: 200px;

    margin: 5px;
}
body.login form .error {
    color: #f00;
    text-align: center;
}

/* notification */
#notification {
    position: fixed;
    display: none;
    top: 0px;
    left: 50%;

    width: 200px;
    margin-left: -100px;
    padding: 20px;

    border-width: 0 1px 1px 1px;
    border-color: #888;
    border-style: solid;
    border-radius: 0 0 15px 15px;
}
#notification.error {
    background-color: #f33;
}
#notification.exception {
    background-color: #a00;
}
#notification.success {
    background-color: rgb(118, 189, 26);
}
#notification.warning {
    background-color: rgb(228, 224, 7);
}


/* actions */
#actions {
    position: absolute;
    top: 0;
    right: 0;

    padding: 10px 20px;

    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #000;
    border-radius: 0 0 0 20px;

    font-size: 25px;
}
#actions i {
    margin: 5px;
}
#actions .time {
    margin-left: 10px;
}
#play {
    color: #0f0;
}

/* modal */
.shadow {
    position: fixed;
    display: none; /* flex */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.6);
}
.shadow .fa-spinner {
    display: none;

    font-size: 50px;
    color: #fff;
}
.modal {
    width: 200px;

    background-color: green;
}
.modal .modal_header {
    height: 20px;

    background-color: aquamarine;
}
.modal .modal_content {
    padding: 20px;
}

/* Map creator */
#mapCreator {
    border: 2px solid #000;
    background-image: url('/images/top-black-and-white-map-of-the-world-1.png');
    background-size: 100% 100%;
}
