/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
* {
    padding: 0;
    margin: 0;
}

#turn {
    position: absolute;
    top: 50px;
    right: 100px;

    padding: 3px 8px;

    border: 1px solid black;
    border-radius: 5px;
}

.army {
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 10;

    border-radius: 10px;
}

#mapCreator {
    width: 1280px;
    height: 720px;

    border: 2px solid #000;
    background-image: url('/images/top-black-and-white-map-of-the-world-1.png');
    background-size: 100% 100%;
}

.ally {
    border-color: #0a8524;
}
.me {
    border-color: #2689c2;
}
.enemy {
    border-color: #83001c;
}
